@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.body {
  background-color: #739aff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1000px;
  height: 611px;
  background-color: #ffffff;
  padding: 50px 60px;
  border-radius: 15px;
  display: flex;
}

.sideCart {
  width: 345px;
  height: 511px;
  background-color: #565abb;
  border-radius: 20px;
  padding: 18px 19px;
  margin-left: 35px;
  margin-top: 12px;
}

.sideCart h1 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #fefcfc;
  margin-bottom: 20px;
}

.sideCart form {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sideCart form span {
  font-size: 14px;
  font-weight: 500px;
  line-height: 21px;
  color: #fefcfc;
}

.sideCart form input {
  width: 307px;
  height: 40px;
  background: #6268c6;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
  font-size: 12px;
  padding: 8px 11px;
  color: #fefcfc;
}
.sideCart form input::placeholder {
  color: white;
}
.month {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 8px;
}

.month span input {
  width: 150px;
  margin-bottom: 24px;
}

.total {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fefcfc;
  border-top: 1px solid #5f65c3;
  padding-top: 16px;
}

.total p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6px;
}

.checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 307px;
  height: 60px;
  margin-top: 20px;
  background: #4de1c1;
  border: none;
  border-radius: 12px;
  padding: 18px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fefcfc;
  cursor: pointer;
}

.checkout span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.checkoutQuery {
  display: none;
}
.mainCart {
  display: flex;
  flex-direction: column;
}

.mainCart h1 {
  color: #1e1e1e;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 23px;
}

.boxItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.itens {
  padding-top: 24px;
  border-top: 1.5px solid #d0cfcf;
  width: 500px;
  color: #1e1e1e;
}
.itens h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.customer {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 9px 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  min-width: 295px;
  height: 80px;
}
.itemName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 100px;
}
.item img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.item div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.item div div {
  display: flex;
  flex-direction: column;
}
.item div div button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.qtdNumber {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #393939;
}

.totalNumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #393939;
  text-align: right;
}

.noItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}
.noItems span {
  color: red;
  font-size: 20px;
}
.noItems a {
  border: 1px solid #4de1c1;
  background: #4de1c1;
  border-radius: 8px;
  color: #fefcfc;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 10px;
}
svg {
  cursor: pointer;
}
.modalCheckOut {
  display: none;
}


/* Responsive */

@media (max-width: 1000px) {
  .itens {
    padding-top: 15px;
    width: 300px;
  }
  .item {
    width: 350px;
  }
  .container {
    width: 850px;
  }
}
@media (max-width: 850px) {
  .container {
    width: 95%;
  }
  .sideCart {
    height: 270px;
  }
  .sideCart form {
    display: none;
  }
  .checkout {
    display: none;
  }
  .checkoutQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 307px;
    height: 60px;
    margin-top: 20px;
    background: #4de1c1;
    border: none;
    border-radius: 12px;
    padding: 18px 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fefcfc;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .sideCart {
    height: 270px;
    width: 400px;
    margin-right: 10px;
  }
  .checkoutQuery {
    width: 98%;
    font-size: 14px;
    height: 70px;
  }
}

@media (max-width: 426px) {
  .sideCart {
    display: none;
  }

  .item {
    width: 95%;
    height: 70px;
    gap: 5px;
  }

  .modalCheckOut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 307px;
    height: 60px;
    margin-top: 20px;
    background: #4de1c1;
    border: none;
    border-radius: 12px;
    padding: 18px 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fefcfc;
    cursor: pointer;
  }
  .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 376px) {
  .container {
    padding: 30px 35px;
  }
}
