@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.body {
  background-color: #739aff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1000px;
  height: 611px;
  background-color: #ffffff;
  padding: 50px 60px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.sideCart {
  position: absolute;
  width: 345px;
  height: 511px;
  background-color: #565abb;
  border-radius: 20px;
  right: 457px;
  padding: 18px 19px;
}

.sideCart h1 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #fefcfc;
  margin-bottom: 20px;
}

.sideCart form {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sideCart form span {
  font-size: 14px;
  font-weight: 500px;
  line-height: 21px;
  color: #fefcfc;
}

.sideCart form input {
  width: 307px;
  height: 40px;
  background: #6268c6;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
  font-size: 12px;
  padding: 8px 11px;
  color: #c4c4c4;
}

.month {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 8px;
}

.month span input {
  width: 150px;
  margin-bottom: 24px;
}

.total {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fefcfc;
  border-top: 1px solid #5f65c3;
  padding-top: 16px;
}

.total p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6px;
}

.checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 307px;
  height: 60px;
  margin-top: 20px;
  background: #4de1c1;
  border: none;
  border-radius: 12px;
  padding: 18px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fefcfc;
  cursor: pointer;
}

.checkout span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.mainCart {
  display: flex;
  flex-direction: column;
}

.mainCart h1 {
  color: #1e1e1e;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 23px;
}

.itens {
  padding-top: 24px;
  border-top: 1.5px solid #d0cfcf;
  width: 500px;
  color: #1e1e1e;
}
.itens h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.customer {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 9px 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.itemName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 100px;
}
.item img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.item div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.item div div {
  display: flex;
  flex-direction: column;
}
.item div div button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.qtdNumber {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #393939;
}

.totalNumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #393939;
  text-align: right;
}
