.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e17792;
  padding: 10px 40px;
}

.header img {
  width: 100px;
}

.links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.active {
  background-color: #e51136;
  border: 2px solid #e51136;
}

.activeCart {
  background-color: #e51136;
  border: 10px solid #e51136;
  border-radius: 10px;
  text-align: center;
}
